.videos-item-media .video-mask {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  display: block;
  height: 100%;
  right: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  -webkit-transition: background 0.35s;
  -o-transition: background 0.35s;
  transition: background 0.35s;
}
.videos-item-media .btn-play {
  display: block;
  height: 44px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -22px -22px 0 0;
  width: 44px;
  font-size: 49px;
  color: #ffffff;
  text-indent: center;
  line-height: 32px;
  z-index: 10;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.videos-item-media .btn-play:hover,
.videos-item-media .btn-play:focus,
.videos-item-media .btn-play:active {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}
.videos-item-media:hover .btn-play {
  opacity: 1;
  filter: alpha(opacity=100);
}
.videos-item-media .item-image {
  max-height: 176px;
}
.videos-item-media .item-image.video-playing .video-mask:before {
  background: #cc0000;
  content: "Playing...";
  color: #ffffff;
  display: block;
  font-size: 10px;
  line-height: 1;
  padding: 3px 5px;
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.videos-item-main .article-title {
  color: #4b4b4b;
}
.videos-item-main .article-title h3 {
  font-family: sans-serif;
  font-size: 14px;
}
.videos-item-main .article-title h3 a:hover,
.videos-item-main .article-title h3 a:focus,
.videos-item-main .article-title h3 a:active {
  color: #ffffff;
}

.magazine-featured + .videos-featured {
  margin-top: -4px;
}
.videos-featured .videos-item-media {
  float: right;
  margin-left: 18px;
  position: relative;
  width: 96px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .videos-featured .videos-item-media {
    height: 30px;
    overflow: hidden;
  }
}
.videos-featured .videos-item-media .item-image {
  max-height: 60px;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}
.videos-featured .videos-item-media .btn-play {
  font-size: 30px;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  margin-right: -15px;
}
.videos-featured .videos-item-main .video-title {
  color: #b0bec5;
  cursor: pointer;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
}
.videos-featured .videos-item-main .video-title:hover,
.videos-featured .videos-item-main .video-title:focus,
.videos-featured .videos-item-main .video-title:active {
  color: #8bc34a;
  text-decoration: none;
}
.videos-featured .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  
  padding-top: 25px;
  height: 0;
}
.videos-featured .video-wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.videos-featured .videos-featured-items {
  background: #ffffff;
  position: relative;
}
.videos-featured .videos-featured-items:before,
.videos-featured .videos-featured-items:after {
  content: " ";
  display: table;
}
.videos-featured .videos-featured-items:after {
  clear: both;
}
.videos-featured .videos-featured-items .videos-section-heading {
  position: relative;
  padding: 22px 22px 0;
  top: auto;
  right: auto;
  z-index: 2;
}
.videos-featured .videos-featured-items .videos-section-heading:before,
.videos-featured .videos-featured-items .videos-section-heading:after {
  content: " ";
  display: table;
}
.videos-featured .videos-featured-items .videos-section-heading:after {
  clear: both;
}
@media screen and (min-width: 992px) {
  .videos-featured .videos-featured-items .videos-section-heading {
    position: absolute;
    padding: 33px 44px;
  }
}
.videos-featured .videos-featured-items .videos-section-heading h4 {
  color: #4b4b4b;
  font-size: 24px;
  margin: 0;
  float: right;
}
.videos-featured .videos-featured-items .videos-section-heading a {
  float: left;
  text-transform: uppercase;
}
.videos-featured .videos-featured-items .videos-section-heading a:hover,
.videos-featured .videos-featured-items .videos-section-heading a:focus,
.videos-featured .videos-featured-items .videos-section-heading a:active {
  text-decoration: none;
}
.videos-featured .player-wrap {
  background: #000000;
  padding: 0;
}
.videos-featured .player-wrap #ja-main-player {
  height: 336.9375px;
  position: relative;
}
@media (max-width: 1199px) {
  .videos-featured .player-wrap #ja-main-player {
    height: 269.4375px;
  }
}
@media (max-width: 991px) {
  .videos-featured .player-wrap #ja-main-player {
    padding-bottom: 56.25%;
    height: 0;
  }
}
.videos-featured .player-wrap #ja-main-player iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
}
@media (max-width: 767px) {
  .videos-featured .hidden-xs + .player-wrap {
    margin-top: 22px;
  }
}
.videos-featured .videos-featured-list {
  padding: 56px 44px 0;
  overflow: hidden;
}
@media (max-width: 991px) {
  .videos-featured .videos-featured-list {
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 0;
  }
}
.videos-featured .videos-featured-list ul {
  display: block;
  height: 269.9375px;
  list-style: none;
  overflow: auto;
  margin: 11px 0 0;
  padding: 0;
  position: relative;
}
@media (max-width: 1199px) {
  .videos-featured .videos-featured-list ul {
    height: 202.4375px;
  }
}
@media (max-width: 991px) {
  .videos-featured .videos-featured-list ul {
    height: 286px;
  }
}
.videos-featured .videos-featured-list ul .video-item {
  margin: 22px 0 0;
  position: relative;
}
.videos-featured .videos-featured-list ul .video-item:before,
.videos-featured .videos-featured-list ul .video-item:after {
  content: " ";
  display: table;
}
.videos-featured .videos-featured-list ul .video-item:after {
  clear: both;
}
.videos-featured .videos-item-main .article-title {
  margin: 0;
}
.videos-featured .videos-item-main .videos-item-ct {
  display: none;
}
.videos-featured.videos-featured-2 .player-wrap #ja-main-player {
  height: 449.25px;
}
@media (max-width: 1199px) {
  .videos-featured.videos-featured-2 .player-wrap #ja-main-player {
    height: 538.875px;
  }
}
@media (max-width: 991px) {
  .videos-featured.videos-featured-2 .player-wrap #ja-main-player {
    height: 415.125px;
  }
}
@media (max-width: 767px) {
  .videos-featured.videos-featured-2 .player-wrap #ja-main-player {
    height: 0;
  }
}
@media (max-width: 1199px) {
  .videos-featured.videos-featured-2 .videos-featured-list {
    padding: 0 44px 44px;
  }
  .videos-featured.videos-featured-2 .videos-featured-list .videos-item-media {
    height: auto;
  }
}
@media (max-width: 991px) {
  .videos-featured.videos-featured-2 .videos-featured-list {
    padding-right: 22px;
    padding-left: 22px;
  }
}
.videos-featured.videos-featured-2 .videos-featured-list ul {
  height: 382.25px;
}
@media (max-width: 1199px) {
  .videos-featured.videos-featured-2 .videos-featured-list ul {
    height: auto;
  }
}
.videos-featured.videos-featured-2 .videos-featured-items .videos-section-heading {
  left: 0;
  right: auto;
}
@media (max-width: 1199px) {
  .videos-featured.videos-featured-2 .videos-featured-items .videos-section-heading {
    position: static;
    padding-bottom: 0;
  }
}
.magazine-featured .row-articles {
  margin-bottom: 0;
}
.magazine-featured .row-articles .magazine-item {
  margin-bottom: 18px;
}
@media (min-width: 992px) {
  .magazine-featured .row-articles {
    margin-bottom: 18px;
  }
  .magazine-featured .row-articles .magazine-item {
    margin-bottom: 0;
  }
}
.magazine-featured .row-articles.last-row {
  margin-bottom: 0;
}
.magazine-featured .magazine-item-media {
  margin: -22px -22px 0;
}
.magazine-featured .magazine-featured-leading {
  background: #ffffff;
  border-radius: 3px;
  margin-bottom: 22px;
  overflow: hidden;
  padding: 22px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.magazine-featured .magazine-featured-intro .magazine-item article {
  background: #ffffff;
  border-radius: 3px;
  margin-bottom: 22px;
  overflow: hidden;
  padding: 22px;
  margin-bottom: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  .magazine-featured .magazine-featured-intro .magazine-item article {
    min-height: 240px !important;
  }
}
.magazine-featured .magazine-featured-intro .magazine-item .article-aside {
  margin: 0;
}
.magazine-featured .magazine-featured-intro .magazine-item .article-aside.article-aside-bottom {
  float: right;
}
.magazine-featured .magazine-featured-intro .magazine-item .category-name a {
  color: #ffb74d;
}
.magazine-featured .magazine-featured-intro .magazine-item .category-name a:hover,
.magazine-featured .magazine-featured-intro .magazine-item .category-name a:focus,
.magazine-featured .magazine-featured-intro .magazine-item .category-name a:active {
  text-decoration: none;
}
.magazine-featured .magazine-featured-intro .magazine-item .readmore {
  float: left;
}
.magazine-featured .magazine-featured-intro .magazine-item .readmore .btn {
  padding: 0;
  border: 0;
  background: none;
  color: #3f51b5;
}
.magazine-featured .magazine-featured-intro .magazine-item .readmore .btn:hover,
.magazine-featured .magazine-featured-intro .magazine-item .readmore .btn:focus,
.magazine-featured .magazine-featured-intro .magazine-item .readmore .btn:active {
  background: none;
}
.magazine-featured .magazine-featured-intro .magazine-item .article-title {
  margin-bottom: 11px;
}
.magazine-featured .magazine-featured-intro .magazine-item .article-title h3 {
  font-size: 18px;
  line-height: 1.625;
  margin-top: 0;
  margin-bottom: 0;
}
.magazine-featured .magazine-featured-intro .magazine-item .article-title h3 a {
  color: #ffffff;
}
.magazine-featured .magazine-featured-intro .magazine-item .article-title h3 a:hover,
.magazine-featured .magazine-featured-intro .magazine-item .article-title h3 a:focus,
.magazine-featured .magazine-featured-intro .magazine-item .article-title h3 a:active {
  color: #ffffff;
  text-decoration: none;
}
.magazine-featured .magazine-featured-intro .magazine-item .magazine-item-ct {
  margin-top: 11px;
}
.magazine-featured .magazine-featured-intro .magazine-item .item-image {
  float: none !important;
  position: relative;
  overflow: hidden;
}
.magazine-featured .magazine-featured-intro .magazine-item .item-image img {
  width: 100%;
}
.magazine-featured .magazine-featured-intro .magazine-item-main {
  margin-top: 22px;
}
.magazine-featured .magazine-featured-intro .magazine-section-heading article {
  background: #3f51b5;
  color: #ffffff;
  height: 100%;
  padding: 22px;
  border-radius: 3px;
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.magazine-featured .magazine-featured-intro .magazine-section-heading article .section-title {
  color: #ffffff;
  font-size: 14px;
  margin-top: 0;
}
.magazine-featured .magazine-featured-intro .magazine-section-heading article .section-info {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
}
.magazine-featured .magazine-featured-intro .magazine-section-heading article .btn {
  position: absolute;
  left: 22px;
  bottom: 22px;
}
.magazine-featured .load-more {
  text-align: center;
  margin-top: 44px;
}
.t3-sidebar .magazine-featured .magazine-featured-intro .magazine-item article {
  background: none;
  padding: 0;
  border-radius: 0;
  border-bottom: 1px dashed #2d2d2d;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.t3-sidebar .magazine-featured .magazine-featured-intro .magazine-item-main {
  margin-top: 11px;
}
.t3-sidebar .magazine-featured .magazine-item-media {
  margin: 0;
}
.t3-sidebar .magazine-featured .load-more {
  margin-top: 22px;
}
.t3-sidebar .magazine-featured .load-more .btn {
  display: block;
  width: 100%;
}